#ping {
  padding-right: 10px;
  width: 200px;
}
.box {
  background-color: #a9a9a9;
  position: relative;
  padding: 10px;
  margin-top: 50px;
}
.container-fluid {
  text-align: center;
  background-image: url('../images/image2.jpeg');
  background-size: 1500px;
  height: 500px;
  width: auto;
}
#images1 {
  background-image: url("../images/images.jpeg");
  background-size: cover;
  display: inline-block;
}


@font-face {
  src: url('../fonts/good times rg.ttf') format('truetype');
  font-family: cows;
}
h1 {
  font: 60px "cows";
}

h2 {
  font: 40px "cows";
  color: #FFFFFF;
}
